<html>

<head>

  <title>Comments</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>Leave a comment on this post</h1>

  <form id="comments" action="/comment/<%= postId %>" method="POST" autocomplete="off">

    <div class="form-group">
      <label for="inputComment">Leave Comment</label>
      <textarea type="text" name="inputComment" class="form-control" id="inputComment" aria-describedby="inputCommentHelp" maxlength="1000" cols="25" rows="6" placeholder="Type Your Comments Here"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" value="Submit">
    </div>

  </form>

  <h6><a href="/logout" target="_blank">Logout</a></h6>

</body>

</html>
