<html>

<head>

  <title>Create Post</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>Post to your blog</h1>
  <h2>Fill in the form below</h2>

  <form id="createpost" action="/createpost" method="POST" autocomplete="off">

    <div class="form-group">
      <label for="post_username">Enter username:</label><br>
      <input type="text" name="post_username" class="form-control" id="post_username" aria-describedby="postusernameHelp" placeholder="Enter username">
            </div>

      <div class="form-group">
        <label for="post_title">Title for your Post:</label><br>
        <input type="text" name="post_title" class="form-control" id="post_title" aria-describedby="postTitleHelp" placeholder="Enter Title for Post">
      </div>

        <div class="form-group">
          <label for="post_content">Post Message</label>
          <textarea type="text" name="post_content" class="form-control" id="post_content" aria-describedby="postMessageHelp" maxlength="1000" cols="25" rows="6" placeholder="Type Your Message Here"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" value="Submit">
      </div>

  </form>

</body>

</html>
