<html>

<head>

  <title>Delete Comment</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <% for (let i= 0; i< posts.length; i++) { %>

  <%}%>

</body>

</html>
