<html>

<head>

  <title>Home Page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="src/style.css">

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h2>Welcome to the Blog Application!</h2>
  <h2>Write down your thoughts and leave comments on other people's messages!</h2>
  <h3>Lets get started!</h3>

  <form id="login" action="/" method="POST">
    <label for="Sign In Text"><h6>Sign in to your account</h6></label>
    <br>
    <div class="form-group">
      <label for="exampleInputUsername">Username:</label><br>
      <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter Your Username">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword">Password:</label><br>
        <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter Your Password">
      </div>

        <div class="form-group">
          <input type="submit" value="Submit">
      </div>
  </form>

  <h6>Don't have an account yet?</h6>
  <h6><a href="/signup" target="_blank">Signup</a></h6><br>
  <h6><a href="/logout" target="_blank">Logout</a></h6>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
