<html>

<head>

	<title>Profile Page</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="src/style.css">

</head>

<body>

	<%- include partials/navbar.ejs %>

	<h1>Welcome back + `${username.id}`</h1>


	<a href="/post_to_your_blog" target="_blank">Post to your blog</a></h6>

	  <h6>
	  <a href="/logout" target="_blank">Logout</a></h6>

	</body>

</html>
