<html>

<head>

	<title>Profile Page</title>

  <%- include partials/head.ejs %>

</head>

<body>

	<%- include partials/navbar.ejs %>

	<h1>Welcome back to your profile <%=user.username%></h1>

	<h6><a href="/yourposts" target="_blank">All my blog posts</a></h6>
	<h6><a href="/createpost" target="_blank">Post to your blog</a></h6>
	<h6><a href="/logout" target="_blank">Logout</a></h6>

</body>

</html>
